
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: rgb(5, 58, 5);
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 15px;
    margin-left: 100px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.signin{
    width: 100px;
    height: 40px;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    color:white;
    background-color: black;
    border-radius: 10px;
    font-size: 17px;
    transition-duration: 1s;
    cursor: pointer;
}
.signin:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right: -8px;

}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right button{
        padding: 8px 25px;

    }
    .box-icon{
        font-size: 25px;
         cursor: pointer;
       }
    
}

@media (max-width:900px) {
    .navbar .logo{
        width: 100px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;

    }
    .box-icon{
        font-size: 20px;
         cursor: pointer;
       }
}

@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
    .box-icon{
        font-size: 20px;
         cursor: pointer;
         width: 20px;
         padding-left: 10px;
       }
}
    