.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
}
.cart-items-item{
    margin: 10px 0px;
    color: black;
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color:rgb(218, 216, 216) ;
    border: none;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content:space-between ;
    color: rgb(83, 83, 83);
}
.cart-total button{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background-color: rgb(250, 125, 8);
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: rgb(98, 98, 98);
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    width: 400px;
}
.cart-promocode-input input{
    background-color: transparent;
    border: 1px solid rgb(208, 206, 206);
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 35px;
}
.cart-promocode-input button{
    width: max(2vw,100px);
    padding: 10px 5px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    background-origin: 4px;
    margin-left: 5px
}

@media (max-width:750px) {
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
    
}
