@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
.header {
    height: 34vw;
    margin: 30px auto;
    background-image: url('foodback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 90%;  
    max-width: 80%; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    animation: fadeIn 3s;
}

.header-contents h1 {
    padding-top: 30px;
    font-family: "Lexend Giga", serif;
    color: white;
    font-size: 3vw; 
}

.header-contents p {
    padding-top: 10px;
    color: aliceblue;
    font-size: 1.2vw;
    max-width: 70%; /* Ensure text doesn't stretch too much */
}

.header-contents button {
    width: 100px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    font-size: 17px;
    transition-duration: 1s;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(228, 92, 7);
    color: white;
    border: 1px solid rgb(228, 92, 7);
}

.header-contents button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
    
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        font-size: 13px;
        height: 30px;
        width: 80px;
    }
    
}
